html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #d05c2e;
}

h1 {
  background-color: #d05c2e;
  margin: 0;
  padding: .4rem 0;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.grain-left {
  padding: .5em 0 0;
  float: left;
  width: 40px;
  box-sizing: border-box;
}

.grain-right {
  padding: .5em 0 0;
  float: right;
  width: 40px;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav a {
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
  background-color: #d05c2e;
  border: 1px solid #a63f38;
  float: left;
  width: 33.3333%;
  padding: .4em 0;
}

nav a:hover {
  background-color: #a63f38;
}
